$containerPadding: 10px 10px 10px 10px;
$columnPadding: 10px 7.5px 10px 7.5px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: $containerPadding;
}

.header {
  background-color: #b3b3b3;
}

img {
  float: left;
  width: 100px;
  height: 100px;
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#myMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  .category{
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;

    padding: 14px 16px;
    display: flex;
    color: white;
    text-align: center;
    float: left;
  }

  .category:hover {
    color: #a6a6a6;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  float: left;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  padding: $columnPadding;
}

.mobile {
  display: none;
}

.closebtn {
  display: none;
}

@media screen and (max-width:500px) {
  @import "./mobile";
}
